@tailwind base;
@tailwind components;
@tailwind utilities;

 #buttonGraf {
  background-color: #3b97f8;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin: 1%;
}

#buttonGraf:hover {
  background-color: #15477c;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.titleProyect{
  justify-content:center;
  text-align: center;
margin:1%
}

.titleProyect p{
  text-align: center;
  width: 100%;
}

.CardInfo {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #000;
}

.CardInfo-description {
  font-size: 1rem;
  margin: 0 0 8px;
  color: #666;
}

.CardInfo-value {
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0 0 8px;
  color: #000;
}

.CardInfo-date {
  font-size: 0.875rem;
  color: #999;
}


.buttonPanelItem{
  display:flex;
}


.titleLine{
  color: black;
  background-color: white;
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ajusta según tus necesidades */
}

.loader {
  border: 8px solid #f3f3f3; /* Gris claro */
  border-top: 8px solid #3498db; /* Azul */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loadingText {
  margin-top: 20px;
  font-size: 18px;
  color: #ebebeb; /* Color de texto */
}