@tailwind base;
@tailwind components;
@tailwind utilities;

 #buttonGraf {
  background-color: #3b97f8;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin: 1%;
}

#buttonGraf:hover {
  background-color: #15477c;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.title{
  width: 90%;
}

.titleProyect{
  justify-content:center;
  text-align: center;
margin:1%;
color: #708BB5;;
}

.bcra{
  color: #f3f3f3;
}

.titleProyect p{
  text-align: center;
  width: 100%;
  border-color:#708BB5;
}

.CardInfo {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #000;
}

.CardInfo-description {
  font-size: 1rem;
  margin: 0 0 8px;
  color: #666;
}

.CardInfo-value {
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0 0 8px;
  color: #000;
}

.CardInfo-date {
  font-size: 0.875rem;
  color: #999;
}


.buttonPanelItem{
  display:flex;
}


.titleLine{
  color: black;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.loader {
  border: 8px solid #f3f3f3; 
  border-top: 8px solid #708BB5; 
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loadingText {
  margin-top: 20px;
  font-size: 18px;
  color: #ebebeb; 
}

.varTitle{
margin: auto;
border: 1px solid #ddd;
  border-radius: 8px;
  border-color: #000;
  width: 80%;
margin-top: 1%;
background-color: #0c0c0d;
  color:#91a6c5;
  font-size: 0.85rem;
}

.disclaimer{
  font-size: 1rem;
  background-color: #f3f3f3; 
  color: #000;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 1%;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
}

.creator{
  margin-left: 2%;
}

.buttonAcept{
  background-color: #708BB5; 
  color:#fff;

  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px;
}

.buttonLinkedin{ 
  background-color: #708BB5; 
  color:#fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 3px;
}

.buttonAcept:hover{
    background-color:  #f3f3f3; 
  color: #000;
}

#modalSection{
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100vw; 
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
}